/******************************************************************************\
|                                                                              |
|                                 _flat.scss                                   |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../colors/colored.scss";

//
// mixins
//

@mixin coloring($color: white) {
	background: $color;

	// borders
	//
	border-color: $color;
}

@mixin filling($color: white) {
	background: $color;
}

@mixin shading($color) {
	@include coloring($color);

	&.round {
		@include coloring($color);
	}

	&.rounded {
		@include coloring($color);
	}
}

@mixin multilayer-shading($color) {
	@include coloring($color);

	&.round {
		@include coloring($color);
	}

	&.rounded {
		@include coloring($color);
	}
}

//
// styles
//

@supports (color: color-mix(in srgb, white, black)) {
	.flat {
		.shaded, &.shaded {
			@include shading(colored.$color);

			&.textured {
				@include shading(colored.$color);
			}
		}
	}
}

//
// fallback styles
//

@supports not (color: color-mix(in srgb, white, black)) {
	.flat {
		.shaded, &.shaded {
			@include shading(colored.$color);

			&.textured {
				@include shading(colored.$color);
			}
		}
	}
}