/******************************************************************************\
|                                                                              |
|                                   _index.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "flat";
@use "chalk";
@use "plastic";
@use "glass";
@use "metal";
@use "shaded";

.textured {
	position: relative;

	&::before {
		background-image: var(--texture);
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		mix-blend-mode: multiply;
		background-size: 256px;
	}
}