/******************************************************************************\
|                                                                              |
|                                _colored.scss                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

//
// variables
//

$color: var(--primary-color);
$border-width: 2px;
$border-style: solid;
$border-color: darkened($color, 10%);

//
// styles
//

.colored {
	background-color: $color;
	border-width: $border-width;
	border-style: $border-style;
	border-color: $border-color;
}