/******************************************************************************\
|                                                                              |
|                                scrollbars.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@import "../colors/colors.scss";

//
// variables
//

$width: 12px;
$border-radius: 10px;
$thumb-border-width: 2px;

//
// colors
//

$thumb-color: var(--primary-color);
$thumb-hover-color: darkened(var(--primary-color), 10%);
$thumb-active-color: darkened(var(--primary-color), 20%);
$track-color: $very-very-very-light-grey;
$thumb-border-color: $track-color;
$track-border-color: $track-color;

//
// styles
//

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: $width;
	height: $width;
}

//
// scrollbar thumb
//

::-webkit-scrollbar-thumb {
	background-color: $thumb-color;
	border-radius: $border-radius;
	border-width: $thumb-border-width;
	border-style: solid;
	border-color: $thumb-border-color;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $thumb-hover-color;
}

//
// scrollbar track
//

::-webkit-scrollbar-track {
	background-color: $track-color;
	border-radius: $border-radius;
	border-width: $thumb-border-width;
	border-style: solid;
	border-color: $track-border-color;
}