/******************************************************************************\
|                                                                              |
|                               _flat-glass.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../colors/colors";

//
// variables
//

$specular-size: 50%;
$specular-strength: 50%;
$highlight-size: 25%;

//
// mixins
//

@mixin shading ($color: white, $border-style: outset, $opacity: 100%) {
	background:

		// highlight
		//
		linear-gradient(var(--light-direction),
			white 0%,
			transparent 10%) no-repeat,
		
		// specular
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $specular-strength) 0%,
			transparent 20%) no-repeat,

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 50%,
			colors.lighten($color, 10%) 100%) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(colors.darken($color, 10%), 100%) 0%,
			colors.fade($color, $opacity) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darken($color, 10%);
	}
}

@mixin multilayer-shading ($color: white, $border-style: outset, $opacity: 100%) {
	background:

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 50%,
			colors.lighten($color, 10%) 100%) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(colors.darken($color, 10%), 100%) 0%,
			colors.fade($color, $opacity) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// highlight
			//
			linear-gradient(var(--light-direction),
				white 0%,
				transparent 10%) no-repeat,

			// specular
			//
			linear-gradient(var(--light-direction),
				colors.fade(white, $specular-strength) 0%,
				transparent 20%) no-repeat;
	}
}