/******************************************************************************\
|                                                                              |
|                               _round-glass.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../colors/colors.scss";

//
// variables
//

$diffuse-strength: 25%;
$specular-size: 50%;
$specular-strength: 50%;
$highlight-size: 25%;
$highlight-strength: 100%;
$transmission-strength: 100%;

$specular-width: 50%;
$specular-height: 25%;
$specular-hoffset: 50%;
$specular-voffset: 10%;

$highlight-width: 25%;
$highlight-height: 12%;
$highlight-hoffset: 50%;
$highlight-voffset: 10%;

//
// mixins
//

@mixin shading ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// highlight
		//
		radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
			colors.faded(white, $highlight-strength) 0%,
			colors.faded(white, $highlight-strength) $highlight-size,
			colors.faded(white, 0%) 100%) no-repeat,

		// specular
		//
		radial-gradient(ellipse $specular-width $specular-height at $specular-hoffset $specular-voffset,
			colors.faded(white, $specular-strength) 0%,
			colors.faded(white, $specular-strength) $specular-size,
			colors.faded(white, 0%) 100%) no-repeat,

		// transmitted
		//
		radial-gradient(ellipse 50% 50% at 50% 85%,
			colors.faded(colors.lightened($color, 50%), $transmission-strength) 0%,
			colors.faded($color, $transmission-strength) 50%,
			colors.faded($color, 0%) 100%) no-repeat,

		// reflected
		//
		linear-gradient(to $direction,
			colors.faded($color, 0%) 33%,
			colors.faded($color, 50%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin multilayer-shading ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// transmitted
		//
		radial-gradient(ellipse 50% 50% at 50% 85%,
			colors.faded(colors.lightened($color, 50%), $transmission-strength) 0%,
			colors.faded($color, $transmission-strength) 50%,
			colors.faded($color, 0%) 100%) no-repeat,

		// reflected
		//
		linear-gradient(to $direction,
			colors.faded($color, 0%) 33%,
			colors.faded($color, 50%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// highlight
			//
			radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
				colors.faded(white, $highlight-strength) 0%,
				colors.faded(white, $highlight-strength) $highlight-size,
				colors.faded(white, 0%) 100%) no-repeat,

			// specular
			//
			radial-gradient(ellipse $specular-width $specular-height at $specular-hoffset $specular-voffset,
				colors.faded(white, $specular-strength) 0%,
				colors.faded(white, $specular-strength) $specular-size,
				colors.faded(white, 0%) 100%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 10%);
	}
}