/******************************************************************************\
|                                                                              |
|                               glass-sliders.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2020, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../controls/sliders.scss";
@import "../flat/flat-sliders.scss";
@import "glass.scss";

//
// mixins
//

@mixin glass-thumb($color, $hover-color) {
	-webkit-appearance: none;
	@include thumb-shadow;

	//
	// Webkit slider thumbs
	//

	&::-webkit-slider-thumb {
		@include round-glass($color);

		&:hover {
			@include round-glass($hover-color);
		}
	}

	//
	// Firefox slider thumbs
	//

	&::-moz-range-thumb {
		@include round-glass($color);

		&:hover {
			@include round-glass($hover-color);
		}
	}

	//
	// IE slider thumbs
	//

	&::-ms-thumb {
		@include round-glass($color);

		&:hover {
			@include round-glass($hover-color);
		}
	}
}

//
// glass active slider thumbs
//

@mixin glass-active-thumb($active-color) {
	-webkit-appearance: none;

	//
	// Webkit active slider thumbs
	//

	&::-webkit-slider-thumb {
		&:active {
			@include round-glass($active-color);
		}
	}

	//
	// Firefox active slider thumbs
	//

	&::-moz-range-thumb {
		&:active {
			@include round-glass($active-color);
		}
	}

	//
	// IE active slider thumbs
	//

	&::-ms-thumb {
		&:active {
			@include round-glass($active-color);
		}
	}
}

//
// glass slider tracks
//

@mixin glass-track($color) {
	-webkit-appearance: none;
	box-shadow: none;

	&::-webkit-slider-runnable-track {
		@include flat($color);
	}

	&::-moz-range-track {
		@include flat($color);
	}
}

//
// styles
//

@supports (color: color-mix(in srgb, white, black)) {
	.glass {
		input[type="range"] {

			//
			// glass slider thumbs
			//

			@include glass-thumb(var(--primary-color), darkened(var(--primary-color), 10%));

			//
			// active slider thumbs
			//

			@include glass-active-thumb(darkened(var(--primary-color), 20%));

			//
			// slider tracks
			//

			@include glass-track(sliders.$track-color);
		}
	}
}

//
// fallback styles
//

@supports not (color: color-mix(in srgb, white, black)) {
	.glass {
		input[type="range"] {

			//
			// glass slider thumbs
			//

			@include flat-thumb(var(--primary-color), darkened(var(--primary-color), 10%));

			//
			// active slider thumbs
			//

			@include flat-active-thumb(darkened(var(--primary-color), 20%));

			//
			// slider tracks
			//

			@include flat-track(sliders.$track-color);
		}
	}
}