/******************************************************************************\
|                                                                              |
|                                 plastic.scss                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.megahedlabs.com        |
\******************************************************************************/

@import "../../colors/colors.scss";

//
// variables
//

$diffuse-strength: 100%;
$highlight-size: 25%;
$highlight-strength: 100%;
$specular-size: 50%;
$specular-strength: 50%;
$reflection-strength: 0%;

$round-highlight-width: 25%;
$round-highlight-height: 12%;
$round-highlight-hoffset: 50%;
$round-highlight-voffset: 10%;

$round-specular-width: 50%;
$round-specular-height: 25%;
$round-specular-hoffset: 50%;
$round-specular-voffset: 10%;

//
// mixins
//

@mixin plastic ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// highlight
		//
		linear-gradient(to $direction,
			faded(white, $highlight-strength) 0%,
			faded(white, 0%) 10%) no-repeat,

		// specular
		//
		linear-gradient(to bottom,
			faded(white, $specular-strength) 0%,
			faded(white, 0%) 10px) no-repeat,

		// diffuse
		//
		linear-gradient(to $direction,
			lightened($color, 20%) 0%,
			$color 5px,
			$color 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 10%);
	}
}

@mixin round-plastic ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// highlight
		//
		radial-gradient(ellipse $round-highlight-width $round-highlight-height at $round-highlight-hoffset $round-highlight-voffset,
			faded(white, $highlight-strength) 0%,
			faded(white, $highlight-strength) $highlight-size,
			faded(white, 0%) 100%) no-repeat,

		// specular
		//
		radial-gradient(ellipse $round-specular-width $round-specular-height at $round-specular-hoffset $round-specular-voffset,
			faded(white, $specular-strength) 0%,
			faded(white, $specular-strength) $specular-size,
			faded(white, 0%) 100%) no-repeat,

		// diffuse
		//
		linear-gradient(to $direction,
			faded(lightened($color, 10%), $diffuse-strength) 0%,
			faded($color, $diffuse-strength) 50%,
			faded(darkened($color, 10%), $diffuse-strength) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 10%);
	}
}

@mixin rounded-plastic ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// highlight
		//
		linear-gradient(to $direction,
			faded(white, $highlight-strength) 0%,
			faded(white, 0%) 25%) no-repeat,

		// diffuse
		//
		linear-gradient(to $direction,
			lightened($color, 20%) 0,
			$color 50%,
			darkened($color, 10%) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 10%);
	}
}

@mixin long-plastic ($color: white, $direction: bottom, $width: 10px) {
	@if ($direction == top) or ($direction == bottom) {
		background:

			// left shading
			//
			linear-gradient(to right,
				darkened($color, 20%) 0%,
				transparent calc($width / 2)) no-repeat,

			// right shading
			//
			linear-gradient(to left,
				darkened($color, 20%) 0%,
				transparent calc($width / 2)) no-repeat,

			// highlight
			//
			linear-gradient(to $direction,
				faded(white, 0%) 0%,
				faded(white, $highlight-strength) 25%,
				faded(white, 0%) 50%) no-repeat,

			// diffuse
			//
			linear-gradient(to $direction,
				darkened($color, 10%) 0,
				$color 50%,
				darkened($color, 10%) 100%) no-repeat;

	} @else if ($direction == left) or ($direction == right) {
		background:

			// top shading
			//
			linear-gradient(to bottom,
				darkened($color, 20%) 0%,
				transparent calc($width / 2)) no-repeat,

			// bottom shading
			//
			linear-gradient(to top,
				darkened($color, 20%) 0%,
				transparent calc($width / 2)) no-repeat,

			// highlight
			//
			linear-gradient(to $direction,
				faded(white, 0%) 0%,
				faded(white, $highlight-strength) 25%,
				faded(white, 0%) 50%) no-repeat,

			// diffuse
			//
			linear-gradient(to $direction,
				darkened($color, 10%) 0,
				$color 50%,
				darkened($color, 10%) 100%) no-repeat;
	}
}