/******************************************************************************\
|                                                                              |
|                              _metal-sliders.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../materials/flat/flat.scss";
@use "../../materials/metal/round-metal.scss";
@use "sliders.scss";
@use "flat-sliders.scss";

//
// mixins
//

@mixin thumb-shading($color, $hover-color) {
	-webkit-appearance: none;
	@include sliders.thumb-shadow;

	//
	// Webkit slider thumbs
	//

	&::-webkit-slider-thumb {
		@include round-metal.shading($color);

		&:hover {
			@include round-metal.shading($hover-color);
		}
	}

	//
	// Firefox slider thumbs
	//

	&::-moz-range-thumb {
		@include round-metal.shading($color);

		&:hover {
			@include round-metal.shading($hover-color);
		}
	}

	//
	// IE slider thumbs
	//

	&::-ms-thumb {
		@include round-metal.shading($color);

		&:hover {
			@include round-metal.shading($hover-color);
		}
	}
}

//
// metal active slider thumbs
//

@mixin active-thumb-shading($active-color) {
	-webkit-appearance: none;

	//
	// Webkit active slider thumbs
	//

	&::-webkit-slider-thumb {
		&:active {
			@include round-metal.shading($active-color);
		}
	}

	//
	// Firefox active slider thumbs
	//

	&::-moz-range-thumb {
		&:active {
			@include round-metal.shading($active-color);
		}
	}

	//
	// IE active slider thumbs
	//

	&::-ms-thumb {
		&:active {
			@include round-metal.shading($active-color);
		}
	}
}

//
// metal slider tracks
//

@mixin track-shading($color) {
	-webkit-appearance: none;
	box-shadow: none;

	&::-webkit-slider-runnable-track {
		@include flat.shading($color);
	}

	&::-moz-range-track {
		@include flat.shading($color);
	}
}

//
// metal sliders
//

@mixin shading($thumb-color, $thumb-hover-color, $thumb-active-color) {

	@include thumb-shading(sliders.$thumb-color, sliders.$thumb-hover-color);

	//
	// active slider thumbs
	//

	@include active-thumb-shading(sliders.$thumb-active-color);

	//
	// slider tracks
	//

	@include track-shading(sliders.$track-color);
}

//
// styles
//

@supports (color: color-mix(in srgb, white, black)) {

	//
	// metal sliders
	//

	.metal input[type="range"],
	input[type="range"].metal.metal {
		@include shading(sliders.$thumb-color, sliders.$thumb-hover-color, sliders.$thumb-active-color);
	}
}

//
// fallback styles
//

@supports not (color: color-mix(in srgb, white, black)) {

	//
	// flat sliders
	//

	.metal input[type="range"],
	input[type="range"].metal.metal {
		@include flat-sliders.shading(sliders.$thumb-color, sliders.$thumb-hover-color, sliders.$thumb-active-color);
	}
}