/******************************************************************************\
|                                                                              |
|                               _flat-metal.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../../colors/colors";

//
// variables
//

$highlight-size: 50%;
$specular-size: 75%;

//
// mixins
//

@mixin shading ($color: white, $border-style: outset) {
	background:

		// highlight
		//
		linear-gradient(var(--light-direction),
			colors.lightened($color, 30%) 0%,
			transparent 10%) 100% no-repeat,

		// specular
		//
		linear-gradient(var(--light-direction),
			colors.lightened($color, 30%) 0%,
			transparent 20%) 100% no-repeat,

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 0%,
			colors.faded($color, 50%) 66%,
			$color) 100% no-repeat,

		// diffuse
		//
		colors.darkened($color, 50%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 10%);
	}
}

@mixin multilayer-shading($color: white, $border-style: outset) {
	background:

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 0%,
			colors.faded($color, 50%) 66%,
			$color 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 50%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		// mix-blend-mode: overlay;

		background:

			// highlight
			//
			linear-gradient(var(--light-direction),
				colors.lightened($color, 30%) 0%,
				transparent 10%) 100% no-repeat,

			// specular
			//
			linear-gradient(var(--light-direction),
				colors.lightened($color, 30%) 0%,
				transparnt 20%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 10%);
	}
}