/******************************************************************************\
|                                                                              |
|                              _round-metal.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../../colors/colors";

//
// variables
//

$highlight-size: 50%;
$specular-size: 75%;

$highlight-width: 50%;
$highlight-height: 50%;
$highlight-hoffset: 50%;
$highlight-voffset: 10%;

$specular-width: 100%;
$specular-height: 50%;
$specular-hoffset: 50%;
$specular-voffset: 10%;

$reflection-width: 100%;
$reflection-height: 100%;
$reflection-hoffset: 50%;
$reflection-voffset: 0%;

//
// mixins
//

@mixin shading ($color: white, $border-style: outset, $backgcolor: white) {
	background:

		// highlight
		//
		radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
			white 0%,
			colors.lightened($color, 30%) $highlight-size,
			transparent 100%) no-repeat,

		// specular
		//
		radial-gradient(ellipse $specular-width $specular-height at $specular-hoffset $specular-voffset,
			$color 0%,
			transparent $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 25%,
			colors.faded($color, 50%) 66%,
			colors.lightened($color, 30%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 50%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin multilayer-shading ($color: white, $border-style: outset, $background-color: white) {
	background:

		// specular
		//
		radial-gradient(ellipse $specular-width $specular-height at $specular-hoffset $specular-voffset,
			$color 0%,
			transparent $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(var(--light-direction),
			transparent 50%,
			colors.faded($color, 50%) 66%,
			colors.lightened($color, 30%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 50%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: normal;

		background:

			// highlight
			//
			radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
				white 0%,
				colors.lightened($color, 10%) $highlight-size,
				transparent 100%) no-repeat;
	}

	// highlight angle
	//
	&:not(.long):after {
		transform: scale(-1) rotate(var(--light-direction));
		border-radius: 50%;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}