/******************************************************************************\
|                                                                              |
|                                _frosting.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

//
// variables
//

$texture-blur: 5px;
$highlight-blur: 5px;

//
// mixins
//

@mixin frosted() {
	&::before {
		filter: blur(var(--texture-blur));
	}
	&::after {
		filter: blur(var(--highlight-blur));
	}
}

@mixin unfrosted() {
	&::before {
		filter: none;
	}
	&::after {
		filter: none;
	}
}

//
// styles
//

:root {
	--texture-blur: #{$texture-blur};
	--highlight-blur: #{$highlight-blur};
}

.shaded {
	&.frosted .shaded, &.frosted {
		@include frosted();
	}
}