/******************************************************************************\
|                                                                              |
|                               _round-chalk.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../../colors/colors";

//
// variables
//

$highlight-strength: 50%;
$highlight-size: 25%;
$highlight-width: 50%;
$highlight-height: 25%;
$highlight-hoffset: 50%;
$highlight-voffset: 10%;

//
// mixins
//

@mixin shading($color: white, $direction: bottom, $border-style: outset) {
	background:

		// highlight
		//
		radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
			colors.faded(white, $highlight-strength) 0%,
			colors.faded(white, $highlight-strength) $highlight-size,
			transparent 100%) no-repeat,

		// diffuse
		//
		linear-gradient(to $direction,
			colors.lightened($color, 10%) 0%,
			$color 50%,
			colors.darkened($color, 10%) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 10%);
	}
}

@mixin multilayer-shading ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// diffuse
		//
		linear-gradient(to $direction,
			colors.lightened($color, 10%) 0%,
			$color 50%,
			colors.darkened($color, 10%) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// highlight
			//
			radial-gradient(ellipse $highlight-width $highlight-height at $highlight-hoffset $highlight-voffset,
				colors.faded(white, $highlight-strength) 0%,
				colors.faded(white, $highlight-strength) $highlight-size,
				transparent 100%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 10%);
	}
}