/******************************************************************************\
|                                                                              |
|                           _long-round-metal.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../colors/colors.scss";

//
// variables
//

$highlight-size: 50%;
$highlight-strength: 100%;
$specular-size: 75%;
$specular-strength: 100%;
$reflection-strength: 100%;

//
// mixins
//

@mixin horizontal-shading ($color: white, $border-radius: 50%, $border-style: outset) {
	background:

		// left shading
		//
		linear-gradient(to right,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// right shading
		//
		linear-gradient(to left,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to bottom,
			colors.faded(colors.lightened($color, 60%), 0%) 0%,
			colors.faded(colors.lightened($color, 60%), $highlight-strength) 15%,
			colors.faded(colors.lightened($color, 60%), $highlight-strength) 30%,
			colors.faded(colors.lightened($color, 60%), 0%) 50%) no-repeat,

		// specular
		//
		linear-gradient(to bottom,
			colors.faded($color, 0%) 0%,
			colors.faded($color, $specular-strength) 25%,
			colors.faded($color, 0%) 50%) no-repeat,

		// reflected
		//
		linear-gradient(to bottom,
			colors.faded($color, 0%) 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin vertical-shading ($color: white, $border-radius: 50%, $border-style: outset) {
	background:

		// top shading
		//
		linear-gradient(to bottom,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shading
		//
		linear-gradient(to top,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to right,
			colors.faded(colors.lightened($color, 60%), 0%) 0%,
			colors.faded(colors.lightened($color, 60%), $highlight-strength) 15%,
			colors.faded(colors.lightened($color, 60%), $highlight-strength) 30%,
			colors.faded(colors.lightened($color, 60%), 0%) 50%) no-repeat,

		// specular
		//
		linear-gradient(to right,
			colors.faded($color, 0%) 0%,
			colors.faded($color, $specular-strength) 25%,
			colors.faded($color, 0%) 50%) no-repeat,

		// reflected
		//
		linear-gradient(to right,
			colors.faded($color, 0%) 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin shading ($color: white, $direction: bottom, $border-radius: 50%, $border-style: outset) {
	@if ($direction == bottom) or ($direction == top) {
		@include horizontal-shading($color, $border-radius, $border-style);
	} @else if ($direction == left) or ($direction == right) {
		@include vertical-shading($color, $border-radius, $border-style);
	}
}

//
// multilayer mixins
//

@mixin horizontal-multilayer-shading ($color: white, $border-radius: 50%, $border-style: outset, $background-color: white) {
	background:

		// left shading
		//
		linear-gradient(to right,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// right shading
		//
		linear-gradient(to left,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// reflected
		//
		linear-gradient(to bottom,
			colors.faded($color, 0%) 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// left shading
			//
			linear-gradient(to right,
				colors.darkened($color, 40%) 0%,
				transparent $border-radius) no-repeat,

			// right shading
			//
			linear-gradient(to left,
				colors.darkened($color, 40%) 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to bottom,
				colors.faded(colors.lightened($color, 60%), 0%) 0%,
				colors.faded(colors.lightened($color, 60%), $highlight-strength) 15%,
				colors.faded(colors.lightened($color, 60%), $highlight-strength) 30%,
				colors.faded(colors.lightened($color, 60%), 0%) 50%) no-repeat,

			// specular
			//
			linear-gradient(to bottom,
				colors.faded($color, 0%) 0%,
				colors.faded($color, $specular-strength) 25%,
				colors.faded($color, 0%) 50%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin vertical-multilayer-shading ($color: white, $border-radius: 50%, $border-style: outset, $background-color: white) {
	background:

		// top shading
		//
		linear-gradient(to bottom,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shading
		//
		linear-gradient(to top,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// reflected
		//
		linear-gradient(to right,
			colors.faded($color, 0%) 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// top shading
			//
			linear-gradient(to bottom,
				colors.darkened($color, 40%) 0%,
				transparent $border-radius) no-repeat,

			// bottom shading
			//
			linear-gradient(to top,
				colors.darkened($color, 40%) 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to right,
				colors.faded(colors.lightened($color, 60%), 0%) 0%,
				colors.faded(colors.lightened($color, 60%), $highlight-strength) 15%,
				colors.faded(colors.lightened($color, 60%), $highlight-strength) 30%,
				colors.faded(colors.lightened($color, 60%), 0%) 50%) no-repeat,

			// specular
			//
			linear-gradient(to right,
				colors.faded($color, 0%) 0%,
				colors.faded($color, $specular-strength) 25%,
				colors.faded($color, 0%) 50%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin multilayer-shading ($color: white, $direction: bottom, $border-radius: 50%, $border-style: outset, $background-color: white) {
	@if ($direction == bottom) or ($direction == top) {
		@include horizontal-multilayer-shading($color, $border-radius, $border-style);
	} @else if ($direction == left) or ($direction == right) {
		@include vertical-multilayer-shading($color, $border-radius, $border-style);
	}
}