/******************************************************************************\
|                                                                              |
|                           _long-round-metal.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2023, Specular CSS, http://www.specularcss.org          |
\******************************************************************************/

@use "../../colors/colors.scss";

//
// variables
//

$highlight-size: 50%;
$specular-size: 75%;
$highlight-offset: 10%;
$highlight-width: 10%;

//
// mixins
//

@mixin horizontal-shading ($color: white, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	background:

		// left shading
		//
		linear-gradient(to right,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// right shading
		//
		linear-gradient(to left,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to bottom,
			colors.faded(colors.lightened($color, 50%), 50%) 0%,
			colors.lightened($color, 50%) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.lightened($color, 50%) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc($highlight-size + $border-width)) no-repeat,

		// specular
		//
		linear-gradient(to bottom,
			transparent 0%,
			$color 25%,
			transparent $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(to bottom,
			transparent 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin vertical-shading ($color: white, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	background:

		// top shading
		//
		linear-gradient(to bottom,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shading
		//
		linear-gradient(to top,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to right,
			colors.faded(colors.lightened($color, 50%), 50%) 0%,
			colors.lightened($color, 50%) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.lightened($color, 50%) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc($highlight-size + $border-width)) no-repeat,

		// specular
		//
		linear-gradient(to right,
			transparent 0%,
			$color 25%,
			transparent $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(to right,
			transparent 66%,
			colors.lightened($color, 10%) 100%) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin shading ($color: white, $direction: bottom, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	@if ($direction == bottom) or ($direction == top) {
		@include horizontal-shading($color, $border-radius, $border-style, $border-width);
	} @else if ($direction == left) or ($direction == right) {
		@include vertical-shading($color, $border-radius, $border-style, $border-width);
	}
}

//
// multilayer mixins
//

@mixin horizontal-multilayer-shading ($color: white, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	background:

		// left shading
		//
		linear-gradient(to right,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// right shading
		//
		linear-gradient(to left,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// specular
		//
		linear-gradient(to bottom,
			transparent 0%,
			$color 25%,
			transparent $specular-size) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		mix-blend-mode: screen;

		background:

			// left shading
			//
			linear-gradient(to right,
				black 0%,
				transparent $border-radius) no-repeat,

			// right shading
			//
			linear-gradient(to left,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to bottom,
				colors.faded(colors.lightened($color, 50%), 50%) 0%,
				colors.lightened($color, 50%) calc($highlight-offset - $highlight-width / 2 + $border-width),
				colors.lightened($color, 50%) calc($highlight-offset + $highlight-width / 2 + $border-width),
				transparent calc($highlight-size + $border-width)) no-repeat,

			// reflected
			//
			linear-gradient(to bottom,
				transparent 66%,
				colors.lightened($color, 10%) 100%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin vertical-multilayer-shading ($color: white, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	background:

		// top shading
		//
		linear-gradient(to bottom,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shading
		//
		linear-gradient(to top,
			colors.darkened($color, 40%) 0%,
			transparent $border-radius) no-repeat,

		// specular
		//
		linear-gradient(to right,
			transparent 0%,
			$color 25%,
			transparent $specular-size) no-repeat,

		// diffuse
		//
		colors.darkened($color, 30%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: screen;

		background:

			// top shading
			//
			linear-gradient(to bottom,
				black 0%,
				transparent $border-radius) no-repeat,

			// bottom shading
			//
			linear-gradient(to top,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to right,
				colors.faded(colors.lightened($color, 50%), 50%) 0%,
				colors.lightened($color, 50%) calc($highlight-offset - $highlight-width / 2 + $border-width),
				colors.lightened($color, 50%) calc($highlight-offset + $highlight-width / 2 + $border-width),
				transparent calc($highlight-size + $border-width)) no-repeat,

			// reflected
			//
			linear-gradient(to right,
				transparent 66%,
				colors.lightened($color, 10%) 100%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: colors.darkened($color, 20%);
	}
}

@mixin multilayer-shading ($color: white, $direction: bottom, $border-radius: 50%, $border-style: outset, $border-width: 1px) {
	@if ($direction == bottom) or ($direction == top) {
		@include horizontal-multilayer-shading($color, $border-radius, $border-style, $border-width);
	} @else if ($direction == left) or ($direction == right) {
		@include vertical-multilayer-shading($color, $border-radius, $border-style, $border-width);
	}
}