/******************************************************************************\
|                                                                              |
|                             metal-textured.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.megahedlabs.com        |
\******************************************************************************/

@import "../../colors/colors.scss";
@import "metal.scss";

//
// mixins
//

@mixin textured-metal($color: white, $direction: bottom, $border-style: outset) {
	background:

		// specular
		//
		linear-gradient(to bottom,
			faded(lightened($color, 30%), $specular-strength) 0%,
			faded($color, 0%) 20%) no-repeat,

		// reflected
		//
		linear-gradient(to $direction,
			faded($color, 0%) 0%,
			faded($color, calc($reflection-strength / 2)) 66%,
			faded($color, $reflection-strength)) no-repeat,

		// diffuse
		//
		darkened($color, 50%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		// mix-blend-mode: overlay;

		background:

			// highlight
			//
			linear-gradient(to $direction,
				faded(lightened($color, 30%), $highlight-strength) 0%,
				faded($color, 0%) 10%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 10%);
	}
}

@mixin round-textured-metal ($color: white, $direction: bottom, $border-style: outset, $background-color: white) {
	background:

		// specular
		//
		radial-gradient(ellipse $round-specular-width $round-specular-height at $round-specular-hoffset $round-specular-voffset,
			faded($color, $specular-strength) 0%,
			faded($color, 0%) $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(to $direction,
			faded($color, 0%) 0%,
			faded($color, calc($reflection-strength / 2)) 66%,
			faded($color, $reflection-strength)) no-repeat,

		// diffuse
		//
		darkened($color, 50%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		// mix-blend-mode: overlay;

		background:

			// highlight
			//
			radial-gradient(ellipse $round-highlight-width $round-highlight-height at $round-highlight-hoffset $round-highlight-voffset,
				faded(white, $highlight-strength) 0%,
				faded(lightened($color, 30%), $highlight-strength) $highlight-size,
				faded($color, 0%) 100%) no-repeat,
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 20%);
	}
}

@mixin rounded-textured-metal ($color: white, $direction: bottom, $border-style: outset) {
	background:

		// specular
		//
		radial-gradient(ellipse $round-specular-width $round-specular-height at $round-specular-hoffset $round-specular-voffset,
			faded($color, $specular-strength) 0%,
			faded($color, 0%) $specular-size) no-repeat,

		// reflected
		//
		linear-gradient(to $direction,
			faded($color, 0%) 0%,
			faded($color, calc($reflection-strength / 2)) 66%,
			faded($color, $reflection-strength)) no-repeat,

		// diffuse
		//
		darkened($color, 50%);

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		// mix-blend-mode: overlay;

		background:

			// left shading
			//
			linear-gradient(to right,
				faded(black, 15%) 0%,
				transparent 25%) no-repeat,

			// right shading
			//
			linear-gradient(to left,
				faded(black, 15%) 0%,
				transparent 25%) no-repeat,

			// highlight
			//
			linear-gradient(to $direction,
				faded(lightened($color, 90%), $highlight-strength) 0%,
				faded(lightened($color, 30%), $highlight-strength) 25%,
				faded($color, 0%) 50%) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: $color;
	} @else if ($border-style == outset) {
		border-color: darkened($color, 20%);
	}
}